In [2]:
import pandas as pd
import sqlite3
import numpy as np

In [20]:
bollywood_movies = './Datasets/bollywood_movies.sqlite'
Tollywood_movies = './Datasets/Tollywood_movies.xlsx'
Indian_movies = './Datasets/Indian_movies.csv'
print(bollywood_movies)
print(Tollywood_movies)
print(Indian_movies)

./Datasets/bollywood_movies.sqlite
./Datasets/Tollywood_movies.xlsx
./Datasets/Indian_movies.csv

In [23]:
conn = sqlite3.connect('bollywood_movies')

In [25]:
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(tables)

Empty DataFrame
Columns: [name]
Index: []

In [28]:
bollywood_df = pd.read_sql_query("SELECT * FROM movies;", conn)
conn.close()

DatabaseError: Execution failed on sql 'SELECT * FROM movies;': no such table: movies