In [2]:
import pandas as pd
import sqlite3
import numpy as np

In [4]:
bollwood_movies = './Datasets/bollywood_movies.sqlite'
Tollywoo_movies = './Datasets/Tollywood_movies.xlsx'
Indian_movies = './Datasets/Indian_movies.csv'

In [8]:
conn = sqlite3.connect('bollywood_movies')

In [10]:
tables = pd.read_sql_query("SELECT * FROM sqlite_master WHERE type='table';", conn)
print(tables)

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []